Flask==3.0.3
Flask-Login==0.6.3
Flask-SocketIO==5.3.7
SQLAlchemy==2.0.36
pyTelegramBotAPI==4.24.0
python-dotenv==1.0.1
Werkzeug==3.0.3
gunicorn==21.2.0
APScheduler==3.10.4
pg8000==1.31.2
requests==2.32.3
